.mui-slider{
	margin-top: 50px;
}
.mui-slider-indicator a{
	background-color: white;
}
.mui-slider-group {
	margin-top: 20px;
}
.mui-media-body span {
	display: inline-block;
	float: left;
}

.hotel-comment .mui-ellipsis.hotel-in-1 {
	font-size: 12px;
}

.hotel-bar-rate {
	position: relative;
	/*margin-top: 50px;*/
	background-color: white;
	width: 100%;
	padding: 0 8px;
	height: 60px;
}
.hotel-bar-rate span{
	display: inline-block;
	float: left;
	margin-top: 8px;
}
.hotel-rate {
	width: 80px;
	height: 40px;
	text-align: center;
	font-size: 16px;
	border-right: 1px solid #EFEFF4;
	color: #777;
	font-family: "微软雅黑";
	font-weight: 300;
}
.hotel-rate-in-1{
	font-size: 12px;
}
.hotel-rate-type{
	margin-left: 8px;
}


